#!/bin/sh
#v1.0.3
#Файл конфигурации скриптов управления OpenVPN 
#сервера для режима клиент-сервер

#Полное имя организации (для записи в сертификаты)
org=SampleOrg

#префиксы генерируемых файлов (персонализация по организации)
prefix=Smpl

#имя сервера для CA
srvname=$prefix-server

#Адрес для подключения клиентов
srvaddr=ovpn.sampleorg.ru

#protocol and port
proto=udp
port=5100

#VPN подсеть куда будут помещены клиенты
vpnnet=10.64.68.0/24

#which networks route over vpn
subnets="10.64.68.0/24 10.20.0.0/16"

#which dns servers to push
dns="10.64.68.2 10.20.20.2"

ovpndir=/etc/openvpn/server

sslconf=$ovpndir/openssl.cnf

#если укахзан, то будет хранить адреса пользователей в инвентори
inventoryApiUrl=https://inventory.sampleOrg.local/web/api
