#!/bin/sh
#v1.0.3
#Файл конфигурации скриптов управления OpenVPN 
#сервера для режима клиент-сервер

#Полное имя организации (для записи в сертификаты)
org=SampleOrg

#префиксы генерируемых файлов (персонализация по организации)
prefix=Smpl

#имя сервера для CA
srvname=$prefix-server

#Адрес для подключения клиентов
srvaddr=ovpn.sampleorg.ru

#protocol and port
#legacy-алиасы дефолтного инстанса (вырожденный случай: instances не задан):
# srvaddr -> <instance>_addr, port -> <instance>_port, proto -> <instance>_proto,
# vpnnet -> <instance>_lan, subnets -> <instance>_routes, dns -> <instance>_dns,
# use2fa -> <instance>_auth_mode=2fa
proto=udp
port=5100

#VPN подсеть куда будут помещены клиенты
vpnnet=192.168.77.0/24

#предыдущая подсеть клиентов (для массового обновления CCD при смене подсети)
#если не задана - считается равной vpnnet (обновления не будет)
#previousVpnnet=192.168.77.0/24

#which networks route over vpn
subnets="192.168.77.0/24 172.20.0.0/16"

#предыдущий состав подсетей. если текущий CCD соответствует им,
#то CCD будет автоматически обновлен до $subnets
#если не заданы - считаются равными subnets (обновления не будет)
#previousSubnets="192.168.77.0/24 172.20.0.0/16"

#which dns servers to push
dns="192.168.77.2 172.20.20.2"

#2FA: use2fa=1 включает генерацию секрета Google Authenticator
#(google.txt в папке клиента) при создании пользователя.
#требует установленного google-authenticator (libpam-google-authenticator)
#use2fa=0

ovpndir=/etc/openvpn/server

sslconf=$ovpndir/openssl.cnf

#файл CRL (закомментировано = значение по умолчанию)
#crlfile=./clients/revoked.crl

#каталог сертификатов исторической раскладки (см. multisite/_config.sample);
#в базовом варианте выключено - ./certs занят под new_certs_dir openssl
#legacyCertsDir=

#если укахзан, то будет хранить адреса пользователей в инвентори
#если инвентори требует авторизацию - логин/пароль указываются прямо в URL
#inventoryApiUrl=https://user:password@inventory.sampleOrg.local/web/api
inventoryApiUrl=https://inventory.sampleOrg.local/web/api

#пароль на приватный ключ клиента: usePassKey=1 - ключ шифруется (aes256),
#пароль генерируется в passwd.txt в папке клиента
#usePassKey=0
#passLetters="abcdefghjkmnopqrstuvwxyzABCDEFJHJKLMNPQRSTUVWXYZ23456789"

#makeConnectConf=1 - дополнительно генерировать конфиг для OpenVPN Connect
#(*_connect.ovpn: remote одной строкой с портом и протоколом)
#makeConnectConf=0

#доставка конфигов пользователям (usr.send): если задан nextcloudUrl -
#конфиги выкладываются в Nextcloud и шарятся пользователю;
#если задан и smsApiUrl - пароль ключа и секрет 2FA уходят по СМС
#nextcloudUrl=https://nextcloud.sampleorg.ru
#adUser=vpnbot
#adPassword=SecretPassword
#nextCloudUID=00000000-0000-0000-0000-000000000000
#smsApiUrl=https://sms-gw.sampleorg.local:8082/sms/send

#почтовая доставка (usr.send, вместо Nextcloud - когда он недоступен снаружи):
#smtps:// - неявный TLS (465); smtp://host:587 - STARTTLS (принуждается
#автоматически при заданном mailUser; mailInsecure=1 отключает для
#внутренних релеев). адрес получателя берется из инвентори (Email)
#mailSmtpUrl=smtps://smtp.provider.com:465
#mailUser=vpn@sampleorg.ru
#mailPassword=SmtpSecret
#mailFrom=vpn@sampleorg.ru

# === multi-instance (опционально) ===
# Вырожденный случай - instances НЕ задан: используется дефолтный список из
# одного инстанса "local". Его конфиг - это legacy-переменные выше
# (srvaddr/port/proto/vpnnet/subnets/dns/use2fa): fallback в inst_var
# возвращает их как значения атрибутов, а имена файлов - без суффикса
# (ccd, <prefix>_<CN>.ovpn, server.conf); server_name logserver'а = "local".
# Отдельного флага "режима" нет: тривиальный режим получается дефолтами.
#
# instances - список имён инстансов. '-' в имени допустим как
# identity/server_name, но недопустим в bash-переменной: префикс переменной
# инстанса = имя с '-'->'_' (local-2fa -> local_2fa_*).
# Если атрибут инстанса не задан - fallback на те же legacy-дефолты.
#instances="local local-2fa"
# на каждый инстанс (префикс переменной = имя с '-'->'_'):
#local_addr="ovpn.sampleorg.ru"    # адрес подключения клиента
#local_port=5100
#local_proto=udp
#local_lan=192.168.77.0/24         # VPN-подсеть инстанса
#local_routes="192.168.77.0/24 172.20.0.0/16"   # маршруты инстанса
#local_dns="192.168.77.2"
#local_auth_mode=normal            # normal | 2fa
#local_ccd_dir=/etc/openvpn/ccd    # каталог публикации CCD
#local_delivery=local              # local | ssh
#local_inv_prefix="ovpn-"          # префикс имени IP-записи инвентаризации
# при delivery=ssh: local_ssh_host=ovpn.contoso.local local_ssh_key=/root/.ssh/openvpn.control local_gauth_dir=/etc/google-auth
#
#local_2fa_addr="ovpn2fa.sampleorg.ru"
#local_2fa_port=5101
#local_2fa_proto=udp
#local_2fa_lan=192.168.178.0/24
#local_2fa_routes="192.168.178.0/24"
#local_2fa_auth_mode=2fa
#local_2fa_ccd_dir=/etc/openvpn/ccd-2fa
#local_2fa_delivery=local
#local_2fa_inv_prefix="ovpn2fa-"
# опционально на инстанс: <instance>_previous_lan / <instance>_previous_routes
# (массовое обновление CCD при смене подсети - аналог previousVpnnet/previousSubnets)
# и <instance>_ccd_suffix - суффикс имени CCD-файла (по умолчанию ".<instance>").
# Пустая строка - CCD без суффикса (как в legacy single):
#   main_ccd_suffix=""          # -> ccd
#   main_2fa_ccd_suffix=".2fa"  # -> ccd.2fa
# <instance>_conf_suffix - суффикс имени клиентского конфига в папке пользователя
# (по умолчанию "_<instance>"). Пустая строка - конфиг без суффикса (как в legacy single):
#   main_conf_suffix=""          # -> <prefix>_<CN>.ovpn
#   main_2fa_conf_suffix="_2fa"  # -> <prefix>_<CN>_2fa.ovpn
